<%- include('partials/_header') %>

<%- include('partials/_navigation') %>
	
	<div class="all-title-box">
		<div class="container text-center">
			
				<h1>
					<%= course.name %>
						<% if(course.category) { %>
							<span class="m_1"> 
								<%= course.category.name %> 
							</span>
						<% } else { %>
							<span class="m_1">
								Uncategorized
							</span>
						<% } %>
				</h1>
			
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
						<div class="image-blog">
							<img src="/images/blog_single.jpg" alt="" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="post-date">

								<% if (user && user.role === "student") { %>

									<% if ((!user.courses.includes(course._id)) ) { %>

									<form action="/courses/enroll" method="POST">
										<input type="hidden" name="course_id" value="<%= course._id %>">
										<button class="btn btn-lg btn-warning text-white font-weight-bold" type="submit">
											<span class="font-weight-bold small">ENROLL</span>
										</button>
									</form>
									
									<% } else { %>

										<span class="bg-success font-weight-bold p-2 text-light">ENROLLED</span>

									<% } %>

								<% } %>

								<% if ((user && user.role === "teacher") || (!user)) { %>

									<% if ( user && (JSON.stringify(user._id) === JSON.stringify(course.creator._id)) ) { %>
									<div style="display: flex; justify-content: end;" class="clearfix">

										<button class="btn btn-lg btn-primary text-white font-weight-bold" data-toggle="modal" data-target="#updateCourse<%= course._id %>">
											<span class="font-weight-bold small">UPDATE</span>
										</button>
										<form action="/courses/delete" method="POST">
											<input type="hidden" name="course_id" value="<%= course._id %>">
											<button class="btn btn-lg btn-danger text-white font-weight-bold ml-2" type="submit">
												<span class="font-weight-bold small">DELETE</span>
											</button>
										</form>

									</div>
										<div class="modal fade" id="updateCourse<%= course._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
													<div class="modal-content">
															<div class="modal-body customer-box">
																	<!-- Tab panes -->
																	<div class="tab-content">
																			<div class="tab-pane active" id="Login">
										<form method="POST" action="/courses/<%=course.slug%>?_method=PUT" class="form-horizontal">
											<div class="form-group">
													<div class="col-sm-12">
															<input type="text" name="name" class="form-control" value="<%= course.name %>" required>
													</div>
											</div>
											<div class="form-group">
													<div class="col-sm-12">
															<textarea rows="8" name="description" class="form-control" required><%= course.description %></textarea>
													</div>
											</div>
											<div class="form-group">
													<div class="col-sm-12">
															<select name="category" id="category" class="form-control text-muted" required>
																<option class="text-muted" value="<%= course.category._id %>" selected hidden><%= course.category.name %></option>
																<% for (let i=0; i<categories.length; i++) { %>
																		<option class="text-dark" value="<%= categories[i]._id %>" ><%= categories[i].name %></option>
																<% } %>
															</select>
													</div>	
											</div>
											<div class="form-group">
												<div class="col-sm-12">
														<input type="hidden" name="role" class="form-control" value="<%= user.role %>">
												</div>
										</div>
											<div class="row"> 
													<div class="col-sm-10">
															<button type="submit" class="btn btn-light btn-radius btn-brd grd1">Submit</button>
															<button type="submit" class="btn btn-light btn-radius btn-brd grd1" data-dismiss="modal" aria-hidden="true">Cancel</button>
													</div>
											</div>
									</form>
								</div>
							</div>
					</div>
			</div>
	</div>
</div>

									<% } else { %>

									<span class="day">
										<%= course.dateCreated.toLocaleDateString('en-US', { day: 'numeric'}) %>
									</span>
									<span class="month">
										<%= course.dateCreated.toLocaleDateString('en-US', {month: 'short' }) %>
									</span>
									
									<% } %>

								<% } %>

							</div>
							<div class="meta-info-blog">
								<span><i class="fa fa-calendar"></i> <a href="#">
									<%= course.dateCreated.toLocaleDateString('en-US', { day: 'numeric', year: 'numeric', month: 'long' }) %>
								</a> </span>
							</div>
							<div class="blog-title">
								<h2><a href="#" title=""><%= course.name %></a></h2>
							</div>
							<div class="blog-desc">
								<blockquote class="default"><%= course.description %></blockquote>
							</div>							
						</div>
					</div>
					
					<div class="blog-author">
						<div class="author-bio">
							<h3 class="author_name"><span class="font-weight-bold">Created By:</span> &nbsp; <%= course.creator.name%> </h3>
						</div>
					</div>
					
                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="#">
								<div>
									<input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<% for (let i=0; i<categories.length; i++) { %>
									<li><a href="/courses?categories=<%= categories[i].slug %>"> <%= categories[i].name %></a></li>
							<% } %>
						</ul>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <%- include('partials/_footer') %>